{% extends 'base.html' %}
{% load static %}
{% load totembo_tags %}

{% block title %}
{{ title }}
{% endblock title %}

{% block poster %}

{% endblock poster %}


{% block main %}

<main class="privacy-main">
    <section class="privacy-section">
        <h1 class="text-center">Конфиденциальность и безопасность</h1>

        <p>В <strong>TOTEMBO</strong> мы серьезно относимся к вашей конфиденциальности и безопасности. Эта политика конфиденциальности объясняет, как мы собираем, используем, защищаем и раскрываем вашу информацию. Используя наш сайт, вы соглашаетесь с практиками, изложенными в этой политике.</p>

        <h2 class="text-center">1. Информация, которую мы собираем</h2>
        <p>Мы собираем различные типы информации для предоставления и улучшения наших услуг:</p>
        <ul>
            <li><strong>Личная информация:</strong> Имя, адрес электронной почты, номер телефона, адреса доставки и выставления счетов.</li>
            <li><strong>Платежная информация:</strong> Детали кредитной карты, адрес выставления счета.</li>
            <li><strong>Информация о посещении:</strong> IP-адрес, тип браузера, тип устройства и взаимодействие с нашим сайтом.</li>
        </ul>

        <h2 class="text-center">2. Как мы используем вашу информацию</h2>
        <p>Ваша личная информация используется для:</p>
        <ul>
            <li>Обработки ваших заказов и платежей</li>
            <li>Связи с вами по вопросам вашего аккаунта и заказов</li>
            <li>Предоставления клиентской поддержки</li>
            <li>Улучшения и персонализации вашего опыта на нашем сайте</li>
            <li>Отправки рекламных писем, новостных рассылок и предложений (если вы согласны на это)</li>
        </ul>

        <h2 class="text-center">3. Безопасность данных</h2>
        <p>Мы принимаем соответствующие меры безопасности для защиты ваших личных данных от несанкционированного доступа, изменения или уничтожения. Это включает в себя:</p>
        <ul>
            <li>Шифрование данных с использованием SSL (Secure Sockets Layer) для безопасной передачи данных.</li>
            <li>Регулярные аудиты безопасности наших систем и сетей.</li>
            <li>Ограничения на доступ к вашим личным данным, доступ предоставляется только сотрудникам или подрядчикам, которые нуждаются в этих данных для выполнения своих обязанностей.</li>
        </ul>

        <h2 class="text-center">4. Cookies и технологии отслеживания</h2>
        <p>Мы используем cookies и аналогичные технологии отслеживания для улучшения вашего опыта на нашем сайте. Cookies — это небольшие текстовые файлы, размещаемые на вашем устройстве, которые сохраняют информацию о вашем визите и предпочтениях. Вы можете настроить ваш браузер для отключения cookies, но это может повлиять на доступность некоторых функций сайта.</p>

        <h2 class="text-center">5. Сторонние сервисы</h2>
        <p>Мы можем делиться вашей информацией с третьими сторонами-поставщиками услуг для обработки платежей, доставки товаров и проведения маркетинговых кампаний. Эти третьи стороны обязаны обрабатывать вашу информацию в соответствии с этой политикой конфиденциальности и применимыми законами.</p>

        <h2 class="text-center">6. Ваши права</h2>
        <p>Вы имеете следующие права в отношении ваших личных данных:</p>
        <ul>
            <li><strong>Доступ:</strong> Вы можете запросить копию личных данных, которые мы храним о вас.</li>
            <li><strong>Коррекция:</strong> Вы можете запросить исправление любых неточных или неполных данных.</li>
            <li><strong>Удаление:</strong> Вы можете запросить удаление ваших личных данных в некоторых ситуациях.</li>
            <li><strong>Отказ от подписки:</strong> Вы можете отказаться от получения маркетинговых сообщений в любой момент.</li>
        </ul>

        <h2 class="text-center">7. Изменения в данной политике конфиденциальности</h2>
        <p>Мы можем обновлять эту политику конфиденциальности время от времени. Все изменения будут опубликованы на этой странице, а дата "Последнего обновления" в верхней части страницы будет изменена. Мы рекомендуем вам периодически проверять эту страницу, чтобы быть в курсе, как мы защищаем вашу информацию.</p>

        <h2 class="text-center">8. Связаться с нами</h2>
        <p>Если у вас есть вопросы или беспокойства относительно этой политики конфиденциальности, пожалуйста, свяжитесь с нами по следующему адресу:</p>
        <p class="text-center">Электронная почта: <a href="@Info.totembo.com">@Info.totembo.com</a></p>
        <p class="text-center">Телефон: +998 90 999 99 99</p>

    </section>
</main>

{% endblock main %}

{% block email %}

{% endblock email %}
